<!-- Page Header -->
<div class="page-header">
    <div>
        <h2 class="main-content-title tx-24 mg-b-5">Users</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Users</li>
        </ol>
    </div>
    <div class="d-flex">
        <div class="justify-content-center">
            <button type="button" class="btn btn-white btn-icon-text my-2 mr-2">
                <i class="fe fe-filter mr-2"></i> Search
            </button>
            <!-- <button class="btn ripple btn-info" (click)="Select2Open(userModel)">
              <i class="fe fe-download-cloud mr-2"></i> Create New User
            </button> -->
        </div>
    </div>
</div>
<!-- End Page Header -->

<div class="row square">
    <div class="col-lg-12 col-md-12">
        <div class="card custom-card">
            <div class="card-body">
                <div class="panel profile-cover">
                    <div class="profile-cover__img">
                        <img *ngIf="user.image" src="{{ user.image }}" alt="img" style="height: 117px;">
                        <h3 class="h3">{{ user.name }}</h3>
                    </div>


                    <div class="profile-cover__action bg-img"></div>

                    <div class="profile-cover__info">

                        <ul class="nav">
                            <li>
                                <strong>User</strong>
                                Profile
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="profile-tab tab-menu-heading">
                    <nav ngbNav #nav="ngbNav" class="main-nav-line p-3 tabs-menu profile-nav-line bg-gray-100">

                        <ng-container ngbNavItem>
                            <a href="javascript:;" ngbNavLink>Assigned</a>
                            <ng-template ngbNavContent>
                                <div class="main-content-body p-4 border tab-pane border-top-0" id="gallery">
                                    <div class="card-body border">



                                        <div class="row row-sm">
                                            <div class="col-md-12 col-lg-12">
                                                <div class="card custom-card">
                                                    <div class="card-header  border-bottom-0 pb-0">
                                                        <div>
                                                            <div class="d-flex">
                                                                <label class="main-content-label my-auto pt-2">All
                                                                    Jobs</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card-body">
                                                        <div class="row table-filter">
                                                            <div class="col-lg-3">
                                                                <div class="show-entries">
                                                                    <span>Show</span>
                                                                    <select class="form-control">
                                                                        <option>5</option>
                                                                        <option>10</option>
                                                                        <option>15</option>
                                                                        <option>20</option>
                                                                    </select>
                                                                    <span>entries</span>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-9 d-lg-flex">
                                                                <div class="d-flex ml-auto mt-4 mr-3 mt-lg-0">
                                                                    <div class="filter-group">
                                                                        <input type="text" class="form-control"
                                                                            placeholder="search">
                                                                    </div>
                                                                    <button type="button" class="btn btn-primary"><i
                                                                            class="fa fa-search"></i></button>
                                                                </div>
                                                                <div class="d-flex mt-4 mt-lg-0">

                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="table-responsive border">
                                                            <table class="table mb-0 text-nowrap text-md-nowrap">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Name</th>
                                                                        <th>Location</th>
                                                                        <th>Date Assigned</th>
                                                                        <th>Starts At</th>
                                                                        <th>Ends At</th>
                                                                        <th>Opening</th>
                                                                        <th>Closing</th>
                                                                        <th>Reminder</th>
                                                                        <th>Status</th>
                                                                        <th>Action</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr class="border-bottom"
                                                                        *ngFor="let data of user.assigned | slice: (assigned_page-1) * moddal_assign_config.pageSize : assigned_page * moddal_assign_config.pageSize">
                                                                        <td>{{ data.job.name }}</td>
                                                                        <td>{{ data.job.location }}</td>
                                                                        <td>{{ formatDate(data.job_assigned_date) }}
                                                                        </td>
                                                                        <td>{{ formatDate(data.job.start_date) }}</td>
                                                                        <td>{{ formatDate(data.job.end_date) }}</td>
                                                                        <td>{{ data.job.open_at }}</td>
                                                                        <td>{{ data.job.close_at }}</td>
                                                                        <td>{{ data.is_reminder_sent }}</td>
                                                                        <td class="text-center">
                                                                            <span *ngIf="!isOpen(data.job.start_date)"
                                                                                class="label text-danger d-flex"><span
                                                                                    class="dot-label bg-danger mr-1"
                                                                                    style="margin-top: 6px;"></span>Closed</span>
                                                                            <span *ngIf="isOpen(data.job.start_date)"
                                                                                class="label text-success d-flex"><span
                                                                                    class="dot-label bg-success mr-1"
                                                                                    style="margin-top: 6px;"></span>Active</span>
                                                                        </td>
                                                                        <td>
                                                                            <div class="button-list">
                                                                                <a href="javascript:;" class="btn"><i
                                                                                        class="ti ti-trash"></i></a>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>

                                                            <div class="mt-3">
                                                                <ngb-pagination class="d-flex justify-content-end"
                                                                    id="page1" [collectionSize]="user.assigned.length"
                                                                    [maxSize]="moddal_assign_config.maxSize"
                                                                    [pageSize]="moddal_assign_config.pageSize"
                                                                    [(page)]="assigned_page"
                                                                    aria-label="Custom pagination">
                                                                    <ng-template
                                                                        ngbPaginationPrevious>Prev</ng-template>
                                                                    <ng-template ngbPaginationNext>Next</ng-template>
                                                                </ngb-pagination>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End Row -->





                                    </div>
                                </div>
                            </ng-template>
                        </ng-container>

                        <ng-container ngbNavItem>
                            <a href="javascript:;" ngbNavLink>Available Days</a>
                            <ng-template ngbNavContent>
                                <div class="main-content-body p-4 border tab-pane border-top-0" id="gallery">
                                    <div class="card-body border">



                                        <div class="row row-sm">
                                            <div class="col-md-12 col-lg-12">
                                                <div class="card custom-card">
                                                    <div class="card-header  border-bottom-0 pb-0">
                                                        <div>
                                                            <div class="d-flex">
                                                                <label
                                                                    class="main-content-label my-auto pt-2">Availability</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card-body">
                                                        <div class="row table-filter">
                                                            <div class="col-lg-3">
                                                                <div class="show-entries">
                                                                    <span>Show</span>
                                                                    <select class="form-control">
                                                                        <option>10</option>
                                                                    </select>
                                                                    <span>entries</span>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-9 d-lg-flex">
                                                                <div class="d-flex ml-auto mt-4 mr-3 mt-lg-0">
                                                                    <div class="filter-group">
                                                                        <input type="text" class="form-control"
                                                                            placeholder="search">
                                                                    </div>
                                                                    <button type="button" class="btn btn-primary"><i
                                                                            class="fa fa-search"></i></button>
                                                                </div>
                                                                <div class="d-flex mt-4 mt-lg-0">

                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="table-responsive border">
                                                            <table class="table mb-0 text-nowrap text-md-nowrap">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Available On</th>
                                                                        <th>Hours</th>
                                                                        <th>Created At</th>
                                                                        <th>Assigned</th>
                                                                        <th>Status</th>
                                                                        <th>Action</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr class="border-bottom"
                                                                        *ngFor="let data of user.availability | slice: (available_page-1) * moddal_available_config.pageSize : available_page * moddal_available_config.pageSize">
                                                                        <td>{{ data.days }}</td>
                                                                        <td>{{ data.hours }}</td>
                                                                        <td>{{ formatDate(data.created_at) }}</td>
                                                                        <td>
                                                                            <span class="btn ripple btn-success btn-sm"
                                                                                *ngIf="data.is_assigned">Yes </span>
                                                                            <span class="btn ripple btn-primary btn-sm"
                                                                                *ngIf="!data.is_assigned">No </span>
                                                                        </td>
                                                                        <td>
                                                                            <button
                                                                                *ngIf="isOpen(data.days) && !data.is_assigned"
                                                                                class="btn btn-sm btn-light btn-info"
                                                                                (click)="assignWork(data, assignWorkSchedule)">
                                                                                Assign Now<i class="ti ti-arrow-up"></i>
                                                                            </button>
                                                                            <button
                                                                                *ngIf="isOpen(data.days) && data.is_assigned"
                                                                                class="btn btn-sm btn-danger btn-info"
                                                                                (click)="onRemoveAssigned(data, assignWorkSchedule)">
                                                                                Remove Now <i
                                                                                    class="ti ti-arrow-up"></i>
                                                                            </button>
                                                                            <span
                                                                                class="btn ripple btn-secondary btn-sm"
                                                                                *ngIf="!isOpen(data.days)">Past</span>
                                                                        </td>
                                                                        <td class="text-center">
                                                                            <span *ngIf="!isOpen(data.days)"
                                                                                class="label text-danger d-flex"><span
                                                                                    class="dot-label bg-danger mr-1"
                                                                                    style="margin-top: 6px;"></span>Closed</span>
                                                                            <span *ngIf="isOpen(data.days)"
                                                                                class="label text-success d-flex"><span
                                                                                    class="dot-label bg-success mr-1"
                                                                                    style="margin-top: 6px;"></span>Active</span>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>

                                                            <div class="mt-3">
                                                                <ngb-pagination id="page2"
                                                                    class="d-flex justify-content-end"
                                                                    [collectionSize]="user.availability.length"
                                                                    [maxSize]="moddal_available_config.maxSize"
                                                                    [pageSize]="moddal_available_config.maxSize"
                                                                    [(page)]="available_page"
                                                                    aria-label="Custom pagination">
                                                                    <ng-template
                                                                        ngbPaginationPrevious>Prev</ng-template>
                                                                    <ng-template ngbPaginationNext>Next</ng-template>
                                                                </ngb-pagination>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End Row -->





                                    </div>
                                </div>
                            </ng-template>
                        </ng-container>

                        <ng-container ngbNavItem>
                            <a href="javascript:;" ngbNavLink>Profile</a>
                            <ng-template ngbNavContent>
                                <div class="main-content-body p-4 border tab-pane border-top-0" id="gallery">
                                    <div class="card-body border">



                                        <div class="row row-sm">
                                            <div class="col-md-12 col-lg-12">
                                                <div class="card custom-card">
                                                    <div class="card-header  border-bottom-0 pb-0">
                                                        <div>
                                                            <div class="d-flex">
                                                                <label class="main-content-label my-auto pt-2">Personal
                                                                    Information</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card-body">

                                                        <div class="row">

                                                            <div class="col-md-4 col-lg-4">
                                                                <div class="form-group">
                                                                    <label class="">Job Title</label>
                                                                    <div class="pos-relative">
                                                                        <strong>{{ user.profile.job_title }}</strong>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4 col-lg-4">
                                                                <div class="form-group">
                                                                    <label class="">Date of Birth</label>
                                                                    <div class="pos-relative">
                                                                        <strong>{{
                                                                            formatDate(user.profile.date_of_birth)
                                                                            }}</strong>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4 col-lg-4">
                                                                <div class="form-group">
                                                                    <label class="">Phone Number</label>
                                                                    <div class="pos-relative">
                                                                        <strong>{{ user.profile.phone }}</strong>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4 col-lg-4">
                                                                <div class="form-group">
                                                                    <label class="">Email Address</label>
                                                                    <div class="pos-relative">
                                                                        <strong>{{ user.profile.email }}</strong>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4 col-lg-4">
                                                                <div class="form-group">
                                                                    <label class="">Medication</label>
                                                                    <div class="pos-relative">
                                                                        <strong>{{ user.profile.medication }}</strong>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4 col-lg-4">
                                                                <div class="form-group">
                                                                    <label class="">Allergies</label>
                                                                    <div class="pos-relative">
                                                                        <strong>{{ user.profile.allergies }}</strong>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>


                                                    </div>
                                                </div>

                                                <div class="card custom-card">
                                                    <div class="card-header  border-bottom-0 pb-0">
                                                        <div>
                                                            <div class="d-flex">
                                                                <label
                                                                    class="main-content-label my-auto pt-2">Professional
                                                                    Information</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card-body">

                                                        <div class="row">

                                                            <div class="col-md-4 col-lg-4">
                                                                <div class="form-group">
                                                                    <label class="">Paramedic Number</label>
                                                                    <div class="pos-relative">
                                                                        <strong>{{ user.profile.paramedic_number
                                                                            }}</strong>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4 col-lg-4">
                                                                <div class="form-group">
                                                                    <label class="">National Insurance Number</label>
                                                                    <div class="pos-relative">
                                                                        <strong>{{ user.profile.ni_number }}</strong>
                                                                    </div>
                                                                </div>
                                                            </div>



                                                        </div>


                                                    </div>
                                                </div>
                                                <div class="card custom-card">
                                                    <div class="card-header  border-bottom-0 pb-0">
                                                        <div>
                                                            <div class="d-flex">
                                                                <label class="main-content-label my-auto pt-2">Financial
                                                                    Information</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card-body">

                                                        <div class="row">

                                                            <div class="col-md-4 col-lg-4">
                                                                <div class="form-group">
                                                                    <label class="">Bank name</label>
                                                                    <div class="pos-relative">
                                                                        <strong>{{ user.profile.bank_name || "Not
                                                                            Provided" }}</strong>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4 col-lg-4">
                                                                <div class="form-group">
                                                                    <label class="">Sort Code</label>
                                                                    <div class="pos-relative">
                                                                        <strong>{{ user.profile.sort_code || "Not
                                                                            Provided" }}</strong>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4 col-lg-4">
                                                                <div class="form-group">
                                                                    <label class="">Account Number</label>
                                                                    <div class="pos-relative">
                                                                        <strong>{{ user.profile.account_number || "Not
                                                                            Provided" }}</strong>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>


                                                    </div>
                                                </div>

                                                <div class="card custom-card">
                                                    <div class="card-header  border-bottom-0 pb-0">
                                                        <div>
                                                            <div class="d-flex">
                                                                <label class="main-content-label my-auto pt-2">Next Of
                                                                    Kin Information</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card-body">

                                                        <div class="row">

                                                            <div class="col-md-4 col-lg-4">
                                                                <div class="form-group">
                                                                    <label class="">Full Names</label>
                                                                    <div class="pos-relative">
                                                                        <strong>{{ user.profile.next_of_kin }}</strong>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4 col-lg-4">
                                                                <div class="form-group">
                                                                    <label class="">Address</label>
                                                                    <div class="pos-relative">
                                                                        <strong>{{ user.profile.nok_address }}</strong>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4 col-lg-4">
                                                                <div class="form-group">
                                                                    <label class="">Phone Number</label>
                                                                    <div class="pos-relative">
                                                                        <strong>{{ user.profile.nok_phone }}</strong>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4 col-lg-4">
                                                                <div class="form-group">
                                                                    <label class="">Email Address</label>
                                                                    <div class="pos-relative">
                                                                        <strong>{{ user.profile.nok_email }}</strong>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>


                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End Row -->





                                    </div>
                                </div>
                            </ng-template>
                        </ng-container>

                        <ng-container ngbNavItem>
                            <a href="javascript:;" ngbNavLink>Documents</a>
                            <ng-template ngbNavContent>
                                <div class="main-content-body p-4 border tab-pane border-top-0" id="gallery">
                                    <div class="card-body border">



                                        <div class="row row-sm">
                                            <div class="col-md-12 col-lg-12">
                                                <div class="card custom-card">
                                                    <div class="card-header  border-bottom-0 pb-0">
                                                        <div>
                                                            <div class="d-flex">
                                                                <label
                                                                    class="main-content-label my-auto pt-2">Certificats
                                                                    & Lisence</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card-body">

                                                        <div class="row">

                                                            <div *ngFor="let image of user.document"
                                                                class="col-md-3 col-lg-3">
                                                                <div
                                                                    style="border: 1px solid #f5f5f5;text-align: center;">
                                                                    <img style="max-height: 200px;"
                                                                        src="{{ fetchImage(image.name) }}" />
                                                                </div>
                                                            </div>


                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End Row -->





                                    </div>
                                </div>
                            </ng-template>
                        </ng-container>

                        <!-- <ng-container ngbNavItem>
                            <a href="javascript:;" ngbNavLink>History</a>
                            <ng-template ngbNavContent>
                                <div class="main-content-body p-4 border tab-pane border-top-0" id="gallery">
                                    <div class="card-body border">
                                        

                                    </div>
                                </div>
                            </ng-template>
                        </ng-container> -->


                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- MODEL SECTION VIEW -->

<ng-template #assignedModel let-modal>
    <!-- Select2 modal -->
    <div class="modal-header">
        <h6 class="modal-title">Date you are Working/Worked</h6>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <h6>{{ selectedAssignedData.name }} Work Days</h6>
        <p>
            Preview of User's work schedules based on the number of days worked and the total number of hours worked
            each day <br />
            based on the time clocked in to work and time clocked out of work.
        </p>

        <div class="row table-filter">
            <div class="col-lg-3">
                <div class="show-entries">
                    <span>Show</span>
                    <select class="form-control">
                        <option>5</option>
                        <option>10</option>
                        <option>15</option>
                        <option>20</option>
                    </select>
                    <span>entries</span>
                </div>
            </div>
            <div class="col-lg-9 d-lg-flex">
                <div class="d-flex ml-auto mt-4 mr-3 mt-lg-0">
                    <div class="filter-group">
                        <input type="text" class="form-control" placeholder="search">
                    </div>
                    <button type="button" class="btn btn-primary"><i class="fa fa-search"></i></button>
                </div>
                <div class="d-flex mt-4 mt-lg-0">

                </div>
            </div>
        </div>

        <div class="table-responsive border">
            <table class="table mb-0 text-nowrap text-md-nowrap">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Location</th>
                        <th>Date Assigned</th>
                        <th>Starts At</th>
                        <th>Ends At</th>
                        <th>Opening</th>
                        <th>Closing</th>
                        <th>Reminder</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="border-bottom"
                        *ngFor="let data of selectedAssignedData.assigned  | slice: (assigned_page-1) * moddal_assign_config.pageSize : assigned_page * moddal_assign_config.pageSize">
                        <td>{{ data.job.name }}</td>
                        <td>{{ data.job.location }}</td>
                        <td>{{ formatDate(data.job_assigned_date) }}</td>
                        <td>{{ formatDate(data.job.start_date) }}</td>
                        <td>{{ formatDate(data.job.end_date) }}</td>
                        <td>{{ data.job.open_at }}</td>
                        <td>{{ data.job.close_at }}</td>
                        <td>{{ data.is_reminder_sent }}</td>
                        <td class="text-center">
                            <span *ngIf="!isOpen(data.job.start_date)" class="label text-danger d-flex"><span
                                    class="dot-label bg-danger mr-1" style="margin-top: 6px;"></span>Closed</span>
                            <span *ngIf="isOpen(data.job.start_date)" class="label text-success d-flex"><span
                                    class="dot-label bg-success mr-1" style="margin-top: 6px;"></span>Active</span>
                        </td>
                        <td>
                            <div class="button-list">
                                <a href="javascript:;" class="btn"><i class="ti ti-trash"></i></a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="mt-3">
                <ngb-pagination id="page3" class="d-flex justify-content-end"
                    [collectionSize]="selectedAvailability.length" [maxSize]="moddal_assign_config.maxSize"
                    [pageSize]="moddal_assign_config.maxSize" [(page)]="assigned_page" aria-label="Custom pagination">
                    <ng-template ngbPaginationPrevious>Prev</ng-template>
                    <ng-template ngbPaginationNext>Next</ng-template>
                </ngb-pagination>
            </div>

        </div>



        <!-- End table section -->



    </div>

</ng-template>


<ng-template #availableModel let-modal>
    <!-- Select2 modal -->
    <div class="modal-header">
        <h6 class="modal-title">User Scheduled Dates </h6>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <h6> Date Available For Work</h6>
        <p>
            This shows the days <strong>{{ selectedAvailabilityData.name }}</strong> agrees to be available for work.
            Admin can assign this user to work here or go to
            <br /> the calendar to choose the user and assign to job. <strong>{{ selectedAvailabilityData.name
                }}</strong> will be notified when this is successfully assigned.
        </p>

        <div class="row table-filter">
            <div class="col-lg-3">
                <div class="show-entries">
                    <span>Show</span>
                    <select class="form-control">
                        <option>5</option>
                        <option>10</option>
                        <option>15</option>
                        <option>20</option>
                    </select>
                    <span>entries</span>
                </div>
            </div>
            <div class="col-lg-9 d-lg-flex">
                <div class="d-flex ml-auto mt-4 mr-3 mt-lg-0">
                    <div class="filter-group">
                        <input type="text" class="form-control" placeholder="search">
                    </div>
                    <button type="button" class="btn btn-primary"><i class="fa fa-search"></i></button>
                </div>
                <div class="d-flex mt-4 mt-lg-0">

                </div>
            </div>
        </div>

        <div class="table-responsive border">
            <table class="table mb-0 text-nowrap text-md-nowrap">
                <thead>
                    <tr>
                        <th>Available On</th>
                        <th>Hours</th>
                        <th>Date</th>
                        <th>Assign to Work</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="border-bottom"
                        *ngFor="let data of selectedAvailability | slice: (available_page-1) * moddal_available_config.pageSize : available_page * moddal_available_config.pageSize">
                        <td>{{ data.days }}</td>
                        <td>{{ data.hours }}</td>
                        <td>{{data.days }}</td>

                        <td>
                            <button *ngIf="isOpen(data.days)" class="btn btn-sm btn-light btn-info"
                                (click)="assignWork(data, assignWorkSchedule)">
                                View <i class="ti ti-arrow-up"></i>
                            </button>
                            <span *ngIf="!isOpen(data.days)">Past</span>
                        </td>
                        <td class="text-center">
                            <span *ngIf="!isOpen(data.days)" class="label text-danger d-flex"><span
                                    class="dot-label bg-danger mr-1" style="margin-top: 6px;"></span>Closed</span>
                            <span *ngIf="isOpen(data.days)" class="label text-success d-flex"><span
                                    class="dot-label bg-success mr-1" style="margin-top: 6px;"></span>Active</span>
                        </td>

                    </tr>
                </tbody>
            </table>

            <div class="mt-3">
                <ngb-pagination id="page2" class="d-flex justify-content-end"
                    [collectionSize]="selectedAvailability.length" [maxSize]="moddal_available_config.maxSize"
                    [pageSize]="moddal_available_config.maxSize" [(page)]="available_page"
                    aria-label="Custom pagination">
                    <ng-template ngbPaginationPrevious>Prev</ng-template>
                    <ng-template ngbPaginationNext>Next</ng-template>
                </ngb-pagination>
            </div>

        </div>



        <!-- End table section -->



    </div>

</ng-template>



<ng-template #userModel let-modal>
    <!-- Select2 modal -->
    <div class="modal-header">
        <h6 class="modal-title">{{ is_update ? "Update": "Create" }} User</h6>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <h6>User Account</h6>
        <!-- Select2 -->
        <!-- <ng-select class="form-control p-0">
            <ng-option value="Firefox">Firefox</ng-option>
            <ng-option value="Chrome">Chrome</ng-option>
            <ng-option value="Safari">Safari</ng-option>
            <ng-option value="Opera">Opera</ng-option>
            <ng-option value="Internet Explorer">Internet Explorer</ng-option>
        </ng-select> -->
        <!-- Select2 -->

        <div class="form-group row">

            <div class="col-lg-6 mt-4">

                <label>First Name</label>
                <app-input [type]="'text'" [class]="'form-control'" [id]="'firstname'"
                    [value]="newUser.patient_forename" [placeholder]="'Enter First Name'"
                    [(inputModel)]="newUser.patient_forename">
                </app-input>

            </div>

            <div class="col-lg-6 mt-4">

                <label>Last Name</label>
                <app-input [type]="'text'" [class]="'form-control'" [id]="'lastname'" [value]="newUser.patient_surname"
                    [placeholder]="'Enter Last Name'" [(inputModel)]="newUser.patient_surname">
                </app-input>

            </div>

            <div class="col-lg-12 mt-4" *ngIf="!is_update">

                <label>Email Address</label>
                <app-input [type]="'email'" [class]="'form-control'" [id]="'email'" [value]="newUser.patient_email"
                    [placeholder]="'Enter Username'" [(inputModel)]="newUser.patient_email">
                </app-input>

            </div>

            <div class="col-lg-6 mt-4">
                <label>Password</label>
                <app-input [type]="'password'" [class]="'form-control'" [id]="'password'" [value]="newUser.password"
                    [placeholder]="'Enter Password'" [(inputModel)]="newUser.password">
                </app-input>

            </div>

            <div class="col-lg-6 mt-4">
                <label>Phone Number</label>
                <app-input [type]="'phone'" [class]="'form-control'" [id]="'phone'" [value]="newUser.patient_phone"
                    [placeholder]="'Enter Phone Number'" [(inputModel)]="newUser.patient_phone">
                </app-input>

            </div>

        </div>

        <small class="mt-3" *ngIf="is_update">
            Are you sure you want to edit this user information? <br /> This will override any data previously created
            for this user.
        </small>
        <small class="mt-3" *ngIf="!is_update">
            Are you sure you want to create this user? <br /> Please also choose the right privilege for this user so
            they could have the right access level.
        </small>

    </div>
    <div class="modal-footer">
        <button (click)="onCreateUser($event)" class="btn ripple btn-primary" type="button">Yes, {{ is_update ?
            "Update": "Create" }} User</button>
        <button type="button" class="btn ripple btn-secondary" (click)="modal.close('Close click')">Close</button>
    </div>

</ng-template>


<ng-template #assignWorkSchedule let-modal>
    <!-- Select2 modal -->
    <div class="modal-header">
        <h6 class="modal-title">Assign User</h6>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <h6>Job </h6>

        <div class="form-group row">

            <div class="col-lg-12 mt-4">
                <ng-select class="form-control p-0" (change)="onSelected($event)">
                    <ng-option *ngFor="let data of active_jobs" value="{{ data.id }}">{{ data.name }}</ng-option>
                </ng-select>
            </div>

        </div>

        <small class="mt-3" *ngIf="!is_update">
            Staff will be notified when you assign them to a task
        </small>

    </div>
    <div class="modal-footer">
        <button (click)="onSubmitAssigned($event)" class="btn ripple btn-primary" type="button">Yes, Assign
            User</button>
        <button type="button" class="btn ripple btn-secondary" (click)="modal.close('Close click')">Close</button>
    </div>

</ng-template>

<!-- Row -->
<div class="row row-sm">
    <div class="col-lg-12 col-md-12">
        <div class="card custom-card main-content-body-profile">
            <div class="tab-content">
                <!-- <div [ngbNavOutlet]="nav"></div> -->
            </div>
        </div>
    </div>
</div>
<!-- End Row -->

<app-alert [status]="changingValue" (onTriggerChange)="delete($event)"></app-alert>