<!-- Page Header -->
<div class="page-header">
    <div>
        <h2 class="main-content-title tx-24 mg-b-5">Details of All Minstration </h2>
        <ol class="breadcrumb">
        </ol>
    </div>
    <div class="d-flex">
        <div class="justify-content-center">
            <!-- <button class="btn ripple bg-orange-color text-white" (click)="Select2Open(select2modal)">
                <i class="fe fe-download-cloud mr-2"></i> New Songs
            </button> -->
        </div>
    </div>
</div>
<!-- End Page Header -->

<div class="row row-sm">
    <div class="col-md-12 col-lg-12">
        <!-- <div class="card custom-card">
            <div class="card-header  border-bottom-0 pb-0">
                <div>
                    <div class="d-flex">
                        <label class="main-content-label my-auto pt-2">All List of User songs </label>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row table-filter">
                    <div class="col-lg-3">
                        <div class="show-entries">
                            <span>Show</span>
                            <select class="form-control">
                                <option>5</option>
                                <option>10</option>
                                <option>15</option>
                                <option>20</option>
                            </select>
                            <span>entries</span>
                        </div>
                    </div>

                </div>
                <div class="table-responsive border">
                    <table class="table mb-0 text-nowrap text-md-nowrap">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Lyric</th>
                                <th>Lyric Link</th>
                                <th>Intro</th>
                                <th>Link</th>

                                <th *ngIf="isAdmin">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="border-bottom"
                                *ngFor="let data of songsDetail | slice: (page-1) * config.pageSize : page * config.pageSize">
                                <td>{{ data.title }}</td>
                                <td>
                                    <button class="custom-button"
                                        (click)="openLyricsModal(data, selectLyricsmodal )">View
                                        Lyrics</button>

                                </td>

                                <td><a href="{{data.lyricslink}}" target="_blank" rel="noopener noreferrer"><i
                                            class="fa fa-eye"></i></a></td>
                                <td>{{ data.intro}}</td>
                                <td><a href="{{data.link}}" target="_blank" rel="noopener noreferrer"><i
                                            class="fa fa-eye"></i></a></td>

                                <td>
                                    <div class="button-list">
                                        <a *ngIf="isAdmin" class="btn"><i class="ti ti-pencil"
                                                (click)="Select2OpenEdit(select2modal2, data)"></i></a>
                                        <a *ngIf="isAdmin" href="javascript:;" (click)="onDelete(data._id)"
                                            class="btn"><i class="ti ti-trash"></i></a>

                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="mt-3">
                        <ngb-pagination class="d-flex justify-content-end" [collectionSize]="pages.length"
                            [maxSize]="config.maxSize" [pageSize]="config.pageSize" [(page)]="page"
                            aria-label="Custom pagination">
                            <ng-template ngbPaginationPrevious>Prev</ng-template>
                            <ng-template ngbPaginationNext>Next</ng-template>
                        </ngb-pagination>
                    </div>
                </div>
            </div>
        </div> -->

        <div class="card custom-card">
            <div class="card-header  border-bottom-0 pb-0">
                <div>
                    <div class="d-flex">
                        <label class="main-content-label my-auto pt-2">All List of User songs </label>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <app-accordion [accordionData]="songsDetail"></app-accordion>
            </div>
        </div>



    </div>
</div>
<!-- End Row -->


<ng-template #select2modal let-modal>
    <!-- Select2 modal -->
    <div class="modal-header">
        <h6 class="modal-title">New Songs</h6>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <h6> Create Songs </h6>
        <form [formGroup]="createSongForm">
            <div class="form-group row">
                <div class="col-lg-12 mt-2">
                    <label>Ttile</label>
                    <input class="form-control" formControlName="title" type="text" value=""
                        placeholder="Enter song title">
                </div>
                <div class="col-lg-12 mt-4">
                    <label>intro</label>
                    <input class="form-control" formControlName="intro" type="text" value=""
                        placeholder="Enter intro of the song">
                </div>
                <div class="col-lg-12 mt-4">
                    <label>Link</label>
                    <input class="form-control" formControlName="link" type="text" value=""
                        placeholder="Enter song link">
                </div>
                <div class="col-lg-12 mt-4">
                    <label>Lyrics Link</label>
                    <input class="form-control" formControlName="lyricslink" type="text" value=""
                        placeholder="Enter lyrics link">
                </div>

                <div class="col-lg-12 mt-4">
                    <label>Lyrics</label>
                    <textarea class="form-control" formControlName="lyrics" placeholder="Enter song lyric"></textarea>
                </div>
            </div>

        </form>


    </div>
    <div class="modal-footer">
        <button (click)="createSubmit($event)" class="btn ripple btn-primary" type="button">Add New Songs</button>
        <button type="button" class="btn ripple btn-secondary" (click)="modal.close('Close click')">Close</button>
    </div>

</ng-template>
<ng-template #select2modal2 let-modal>
    <!-- Select2 modal -->
    <div class="modal-header">
        <h6 class="modal-title">New Songs</h6>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <h6> Edit Songs </h6>
        <form [formGroup]="updateSongForm">
            <div class="form-group row">
                <div class="col-lg-12 mt-2">
                    <label>Ttile</label>
                    <input class="form-control" formControlName="title" type="text" value="">
                </div>
                <div class="col-lg-12 mt-4">
                    <label>intro</label>
                    <input class="form-control" formControlName="intro" type="text" value="">
                </div>
                <div class="col-lg-12 mt-4">
                    <label>Link</label>
                    <input class="form-control" formControlName="link" type="text" value="">
                </div>
                <div class="col-lg-12 mt-4">
                    <label>Lyric link</label>
                    <input class="form-control" formControlName="lyricslink" type="text" value="">
                </div>

                <div class="col-lg-12 mt-4">
                    <label>Lyrics</label>
                    <quill-editor formControlName="lyrics">
                        <div quill-editor-toolbar>
                            <span class="ql-formats">
                                <select class="ql-font">
                                    <option selected></option>
                                    <option value="serif"></option>
                                    <option value="monospace"></option>
                                </select>
                                <select class="ql-size">
                                    <option value="small"></option>
                                    <option selected></option>
                                    <option value="large"></option>
                                    <option value="huge"></option>
                                </select>
                            </span>
                            <span class="ql-formats">
                                <button class="ql-bold"></button>
                                <button class="ql-italic"></button>
                                <button class="ql-underline"></button>
                                <button class="ql-strike"></button>
                            </span>
                            <span class="ql-formats">
                                <select class="ql-color"></select>
                                <select class="ql-background"></select>
                            </span>
                            <span class="ql-formats">
                                <button class="ql-list" value="ordered"></button>
                                <button class="ql-list" value="bullet"></button>
                                <select class="ql-align">
                                    <option selected></option>
                                    <option value="center"></option>
                                    <option value="right"></option>
                                    <option value="justify"></option>
                                </select>
                            </span>
                            <span class="ql-formats">
                                <button class="ql-link"></button>
                                <button class="ql-image"></button>
                            </span>
                        </div>
                    </quill-editor>
                </div>
            </div>

        </form>
    </div>
    <div class="modal-footer">
        <button (click)="updateSubmit(event)" class="btn ripple bg-orange-color" type="button">Save Song</button>
        <button type="button" class="btn ripple btn-secondary" (click)="modal.close('Close click')">Close</button>
    </div>

</ng-template>


<!-- Modal for backup -->
<ng-template #select2Backmodal let-modal>
    <!-- Select2 modal -->
    <div class="modal-header">
        <h6 class="modal-title">New Back up</h6>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <h6> Create Back up Singer </h6>
        <form [formGroup]="createBackupFrom">
            <div class="form-group row">
                <div class="col-lg-12 mt-2">
                    <!-- <label>Name</label>
                    <input class="form-control" formControlName="name" type="text" value=""
                        placeholder="Enter backup name"> -->
                    <label>Name</label>
                    <select class="form-control" formControlName="name">
                        <option value="" disabled selected>Select backup name</option>
                        <option *ngFor="let backupName of backupNames" [value]="backupName">{{ backupName }}
                        </option>
                    </select>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button (click)="createBackSubmit($event)" class="btn ripple bg-orange-color" type="button">Add Back
            up</button>
        <button type="button" class="btn ripple btn-secondary" (click)="modal.close('Close click')">Close</button>
    </div>

</ng-template>
<ng-template #selectBackUp2modal let-modal>
    <!-- Select2 modal -->
    <div class="modal-header">
        <h6 class="modal-title">Back Up</h6>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <h6> Edit back up </h6>
        <form [formGroup]="updateBackupForm">
            <div class="form-group row">
                <div class="col-lg-12 mt-2">
                    <label>Name</label>
                    <select class="form-control" formControlName="name">
                        <option value="" disabled selected>Select backup name</option>
                        <option *ngFor="let backupName of backupNames" [value]="backupName">{{ backupName }}
                        </option>
                    </select>
                </div>
            </div>

        </form>
    </div>
    <div class="modal-footer">
        <button (click)="updateBackupSubmit(event)" class="btn ripple text-white bg-orange-color" type="button">Save
            Backup</button>
        <button type="button" class="btn ripple btn-secondary" (click)="modal.close('Close click')">Close</button>
    </div>

</ng-template>


<!-- Modal to display view Lyrics -->
<!-- <ng-template #selectLyricsmodal let-modal></ng-template> -->

<ng-template #selectLyricsmodal let-modal>
    <!-- Select2 modal -->
    <div class="modal-header">
        <h6 class="modal-title">Lyrics Details</h6>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <h6> Song Lyrics </h6>
        <div class="">{{ lyricsData }}</div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn ripple btn-secondary" (click)="modal.close('Close click')">Close</button>
    </div>

</ng-template>
<!-- <ng-template #selectLyricsmodal let-modal>
   
    <div class="modal-header">
        <h6 class="modal-title">View Lyrics</h6>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <h6> Vew all lyrics </h6>

        <div class="px-3 py-3">
            <p>{{lyricsData}}</p>
        </div>



    </div>
    <div class="modal-footer">

        <button type="button" class="btn ripple btn-secondary" (click)="modal.close('Close click')">Close</button>
    </div>

</ng-template> -->

<app-alert [status]="changingValue" (onTriggerChange)="handleAlertChange($event)"></app-alert>






<!-- second page -->


<!-- start backup singer Page -->

<div class="container mt-3">
    <!-- <div class="row"> -->
    <!-- <div class="col-md-12 col-12"> -->
    <div class="page-header">
        <div>
            <h2 class="main-content-title tx-24 mg-b-5">Details of Back up</h2>
            <ol class="breadcrumb">
                <!-- <li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Pages</li> -->
            </ol>
        </div>
        <div class="d-flex">
            <div class="justify-content-center">

                <!-- <button type="button" class="btn bg-orange-color text-white btn-icon-text my-2 mr-2"
                    (click)="SelectBackUpOpen(select2Backmodal)">
                    <i class="fe fe-download mr-2"></i> Backup Singer
                </button> -->

            </div>
        </div>
    </div>


    <div class="row row-sm">
        <div class="col-md-12 col-lg-12">
            <div class="card custom-card">
                <div class="card-header  border-bottom-0 pb-0">
                    <div>
                        <div class="d-flex">
                            <label class="main-content-label my-auto pt-2">All List of User Backup </label>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row table-filter">
                        <div class="col-lg-3">
                            <div class="show-entries">
                                <span>Show</span>
                                <select class="form-control">
                                    <option>5</option>
                                    <option>10</option>
                                    <option>15</option>
                                    <option>20</option>
                                </select>
                                <span>entries</span>
                            </div>
                        </div>

                    </div>
                    <div class="table-responsive border">
                        <table class="table mb-0 text-nowrap text-md-nowrap">
                            <thead>
                                <tr>
                                    <th>Name of backup</th>
                                    <!-- <th>Status</th> -->
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="border-bottom"
                                    *ngFor="let data of backupDetail | slice: (page-1) * config.pageSize : page * config.pageSize">
                                    <td>{{ data.name }}</td>
                                    <!-- <td class="text-center">
                                        <span *ngIf="data.status" class="label text-muted d-flex"><span
                                                class="dot-label bg-gray-300 mr-1"></span>Active</span>
                                        <span *ngIf="!data.status" class="label text-muted d-flex"><span
                                                class="dot-label bg-gray-300 mr-1"></span>Inactive</span>
                                    </td> -->
                                    <td>
                                        <div class="button-list">
                                            <a *ngIf="isAdmin" class="btn"><i class="ti ti-pencil"
                                                    (click)="Select2OpenEditBackUp(selectBackUp2modal, data)"></i></a>
                                            <a *ngIf="isAdmin" href="javascript:;" (click)="onDeleteBackup(data._id)"
                                                class="btn"><i class="ti ti-trash"></i></a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="mt-3">
                            <ngb-pagination class="d-flex justify-content-end" [collectionSize]="pages.length"
                                [maxSize]="config.maxSize" [pageSize]="config.pageSize" [(page)]="page"
                                aria-label="Custom pagination">
                                <ng-template ngbPaginationPrevious>Prev</ng-template>
                                <ng-template ngbPaginationNext>Next</ng-template>
                            </ngb-pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- </div> -->
    <!-- <div class="col-md-0 col-12"></div> -->
    <!-- </div> -->
</div>

<!-- end of backup singer page -->